<!DOCTYPE html>
<html>
  <head>
    <title>DevCampTaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        <%= render "pages/navbar" %>
      <% end %>
    </div>
    <div class="container">
      <div class="row">
        <%= yield %>
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <%= render "pages/ticket" %>
        </div>
      </div>
    </div>
  </body>
</html>
