<!DOCTYPE html>
<html>
  <head>
    <title>DevCampTaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="container border-test">
      <div class="row">
        <div class="col-md-4 border-test">
          <!-- <%= render "pages/ticket" %> -->
        </div>
        <div class="col-md-8 border-test">
          <%= render "pages/ticket" %>
        </div>
      </div>
    </div>
  </body>
</html>
